{% extends "layout.jinja2" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="content">
        <h1><span class="font-semi-bold">Request a new application</span></h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}