---
vpc_id: "{{ vpc_id }}"
internet_gateway_id: "{{ internet_gateway_id }}"
management_subnet: "{{ az_deploy_results['stack_outputs']['ManagementSubnet'] }}"
private_subnet: "{{ az_deploy_results['stack_outputs']['PrivateSubnet'] }}"
public_subnet: "{{ az_deploy_results['stack_outputs']['PublicSubnet'] }}"