---
availability_zones:
{% for result in az_deploy_results['results'] %}
-  name: "{{ result['item']['name'] }}"
   stackname: "{{ env_name }}-az-{{ result['item']['name'] }}"
   availabilityZone: "{{ result['item']['az'] }}"
   managementSubnet: "{{ result['stack_outputs']['ManagementSubnet'] }}"
   privateSubnet: "{{ result['stack_outputs']['PrivateSubnet'] }}"
   publicSubnet: "{{ result['stack_outputs']['PublicSubnet'] }}"
   managementSubnetCidr: "{{ result['item']['management_cidr'] }}"
   privateSubnetCidr: "{{ result['item']['private_cidr'] }}"
   publicSubnetCidr: "{{ result['item']['public_cidr'] }}"
   applicationSubnetCidr: "{{ result['item']['application_cidr'] }}"

{% endfor %}
