---
bigips:
{% for result in bigip_deploy_results['results'] %}
-  stackname: "{{ env_name }}-bigip-{{ result['item']['name'] }}"
   instanceId: "{{ result['stack_outputs']['BigipInstance'] }}"
   availabilityZone: "{{ result['item']['availabilityZone'] }}"
   managementSubnet: "{{ result['item']['managementSubnet'] }}"
   privateSubnet: "{{ result['item']['privateSubnet'] }}"
   publicSubnet: "{{ result['item']['publicSubnet'] }}"
   ManagementInterfacePrivateIp: "{{ result['stack_outputs']['ManagementInterfacePrivateIp'] }}"
   ManagementInterfacePublicIp: "{{ result['stack_outputs']['ManagementInterfacePublicIp'] }}"
   ManagementInterfaceId: "{{ result['stack_outputs']['ManagementInterfaceId'] }}"
   InternalInterfacePrivateIp: "{{ result['stack_outputs']['InternalInterfacePrivateIp'] }}"
   InternalInterfaceId: "{{ result['stack_outputs']['InternalInterfaceId'] }}"
   ExternalInterfacePrivateIp: "{{ result['stack_outputs']['ExternalInterfacePrivateIp'] }}"
   ExternalInterfacePublicIp: "{{ result['stack_outputs']['ExternalInterfacePublicIp'] }}" 
   ExternalInterfaceId: "{{ result['stack_outputs']['ExternalInterfaceId'] }}"
   ExternalSecondaryIps: "{{ result['stack_outputs']['ExternalSecondaryIps'] }}"
{% endfor %}
