{
	"name":"syslog_pool",
	"members":
		[
			{
				{% for host in groups["analyticshosts"] %}
				"name": "{{ hostvars[host]['AnalyticsServerInstancePrivateIp'] }}:514",
				"address": "{{ hostvars[host]['AnalyticsServerInstancePrivateIp'] }}"
				{% endfor %}
			}
		],
	"monitor":"tcp"
}