{
	"name":"syslog_pool",
	"members":
		[
{% if groups["analyticshosts"] is defined %}
{% for host in groups["analyticshosts"] %}
			{
				"name": "{{ hostvars[host]['AnalyticsServerInstancePrivateIp'] }}:514",
				"address": "{{ hostvars[host]['AnalyticsServerInstancePrivateIp'] }}"
			}{% if not loop.last %},{% endif %}
{% endfor %}
{$ endif %}
		],
	"monitor":"tcp"
}
