{"name":"{{vip_id}}_pool","monitor":"http","members":[{% for host in groups['apphosts'] %}{% for container in hostvars[host]['docker_containers'] %}{% if container.NetworkSettings is defined %}{"name":"{{hostvars[host]['WebServerInstancePrivateIp']}}:{{container['NetworkSettings']['Ports']['80/tcp'][0]['HostPort']}}","address":"{{hostvars[host]['WebServerInstancePrivateIp']}}","description":"Name={{container['Name']}},ContainerHostname={{container['Config']['Hostname']}},Image={{ container['Config']['Image']}}"},{% endif %}{% endfor %}{% endfor %}]}
