{% for host in groups['bigip-cluster-seeds'] %}{% if hostvars[host]['AvailabilityZone'] is defined %}{"name":"{{vip_id}}_pool_{{hostvars[host]['AvailabilityZone']}}"}{% endif %}{% if not loop.last %},{% endif %}{% endfor %}
