{% extends "layout.jinja2" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="content">
        <h1><span class="font-semi-bold">Welcome to this demo service catalog for deploying F5 services using iApps. </span></h1>
        <p>This work demonstrates the use of iControlRest, iControlSoap, inconjunction with iApps for deploying F5 networking services in AWS. See the "About this demo" page for more in-depth design and usage information. </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}