<!DOCTYPE html>
<html lang="${request.locale_name}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <title>Demo service catalog</title>
    <!-- Bootstrap core CSS -->
    <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {{ tags|safe }}

    <style>
      #navcontainer ul li { display: inline; }
      #navcontainer ul li a { padding: .2em 1em; }
    </style>
  </head>
  <body>
    <div class="starter-template">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <div class="content">
              <h1><span class="font-semi-bold">Demo Service Catalog</span></h1>
            </div>
          </div>
        </div>
      <div/>
      <br>
      <div id="navcontainer">
        <ul>
          <li><i class="glyphicon glyphicon-bookmark icon-muted"></i><a href="https://github.com/F5Networks/aws-deployments/blob/master/docs/Orchestrating%20BIG-IP%20in%20the%20Public%20Cloud%20with%20Ansible.pdf">About this demo</a></li>
          <li><i class="glyphicon glyphicon-home icon-muted"></i><a href="/">Home</a></li>
          <li><i class="glyphicon glyphicon-cog icon-muted"></i><a href="/new">Request an Application</a></li>
          <li><i class="glyphicon glyphicon-globe icon-muted"></i><a href="myapps">Application Deployments</a></li>
        </div>
      </div>
      <hr>
      
      {% block content %}
      <div id="container">
      </div>
      {% endblock %}
      <br>
      <br>

      <div class="row">
        <div class="copyright">
          Created with Pyramid from the &copy; Pylons Project
        </div>
      </div>
    <div/>
  </body>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

</html>